# Visual Studio & editör çöpleri
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.db
*.vscode/
*.bin
*.vcxproj.*
*.cache

# Unreal build klasörleri
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# OS çöpleri
.DS_Store
Thumbs.db
